@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

html,body {
    height: 100%;
    font-family: 'Futura PT','futura-pt','Inconsolata', 'Courier New', sans-serif;
    color: #F9E4AD;
    background: #191919;
}

h1 {
  font-size: 1.2em;
  display: inline;
}

h2 {
  font-size: .8em;
}

.post-list {
  padding-left: 0px;
}

.content {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 50%;
    margin: 0 auto;
}

.home {
  position: relative;
  top: 40%;
  font-size: 2em;
  transform: translateY(-80%);
  width: 30%;
  margin: 0 auto;
  text-align: right;
  line-height: 90%;
}

.home-nav {
  position: relative;
  top:40%;
  transform: translateY(-90%);
  width: 30%;
  margin: 0 auto;
  text-align: right;
}

.title {
  font-size: 2.2em;
  letter-spacing: -1px;
  text-align: right;
  line-height: 90%;
}

.nav {
  position: relative;
  text-align: right;
}

.wrap {
  position: relative;
  top: 10%;
  width: 50%;
  transform: translateY(-10%);
  margin: 0 auto;
}

.float-left { float: left; }
.float-right { float: right; }

audio { 
    max-width: 50%;
    display: table; 
    margin: 0 auto; 
}

a {
    color: #F9E4AD;
}

@media screen and (max-width: 768px) {
  .wrap {
    top: 5%;
    position: static;
    margin: auto;
    max-width: 21rem;
  }

  .home {
    position: static;
    margin: auto;
    max-width: 21rem;
  }

  .content {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 0 0;
    max-width: 29rem;
  }
}