html,body {
    height: 100%;
    font-family: Helvetica, sans-serif;
}

.title {
    font-kerning:none;
    font-weight: bold;
    letter-spacing: -8px;
    cursor:default;
    height: 100%;
    width:100%;
    text-align:right;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.title-block {
    width:100%;
    line-height: .8;
    margin-left: -10px;
    font-size: 9em;
}

.aboutclass {
    position: relative;
    top: 40%;
    transform: translateY(-70%);
    
    width: 50%;
    margin: 0 auto;
}

.linkclass {
    width: 50%;
    margin: 0 auto;
}

.sampleclass {
    width: 50%;
    margin: 0 auto;
}

.cvclass {
    width: 50%;
    margin: 0 auto;
}

a {
    color: black;
}