html,body {
    height: 100%;
    font-family: Helvetica, sans-serif;
}

.homeclassout {
    position:relative
}

.homeclassin {
    position:absolute; 
    top:50%; 
    height:10em; 
    margin-top:-5em
}

.aboutclass {
    position: relative;
    top: 40%;
    transform: translateY(-70%);
    
    width: 50%;
    margin: 0 auto;
}

.linkclass {
    width: 50%;
    margin: 0 auto;
}

.sampleclass {
    width: 50%;
    margin: 0 auto;
}

.cvclass {
    width: 50%;
    margin: 0 auto;
}

a {
    color: black;
}